# Does a Lower GDP Per Capita mean a country will experience more violence amongst its citizens?
Habeeb Kotun Jr.<br>
September 25, 2021

The goal of this data exploration is to determine if countries with lower GDP_Per_Capita experience more violence than those with a higher GDP Per Capita.<br> 
To explore this question further, I will utilize the GDP Per Capita dataset we used in the guided portion of the project and combine it with the homicide rates dataset that can be found [here](http://data.un.org/DocumentData.aspx?id=432) on the UNData site.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline

In [2]:
# Read in gdp_per_capita.csv and skip the last two rows
gdp_df = pd.read_csv('../data/gdp_per_capita.csv', 
                     skiprows=[6870, 6871])

# Drop Value Footnotes column from gdp_df
gdp_df = gdp_df.drop(columns='Value Footnotes')

# Rename gdp_df columns
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
print(gdp_df)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

In [51]:
# Read in homicide_rates.csv with ISO-8859-1 encoding (due to read in errors)
homicide_df = pd.read_csv('../data/homicide_rates.csv', encoding = "ISO-8859-1", header=1)

# Rename Unnamed: 2 column to country
homicide_df = homicide_df.rename(columns={'Unnamed: 2':'Country'})

# Drop unneeded columns
homicide_df = homicide_df.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3'])
homicide_df = homicide_df.drop(columns=homicide_df.columns[20:].tolist())

# Drop rows without a NaN value in the Country column
homicide_df = homicide_df[homicide_df['Country'].notna()].set_index('Country')
homicide_df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1115.0,983.0,1231.0,1948.0,NaN,NaN,3367.0,2318.0,2424.0,2474.0
Albania,131.0,220.0,216.0,166.0,131.0,154.0,95.0,105.0,93.0,85.0,127.0,142.0,157.0,124.0,117.0,64.0,79.0,58.0,66.0
Algeria,NaN,NaN,NaN,650.0,449.0,204.0,312.0,271.0,328.0,277.0,254.0,280.0,523.0,480.0,577.0,542.0,NaN,NaN,NaN
American Samoa,NaN,1.0,7.0,3.0,4.0,6.0,4.0,1.0,3.0,2.0,5.0,5.0,2.0,3.0,3.0,4.0,3.0,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,697.0,NaN,NaN,704.0,646.0,945.0,895.0,850.0,874.0,990.0,1099.0,1375.0,1616.0,1703.0,NaN,NaN,NaN,NaN,NaN
Zambia,797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,694.0,812.0,814.0,863.0,885.0,867.0,825.0,853.0,NaN,NaN,NaN
Zimbabwe,NaN,1529.0,1623.0,1360.0,1356.0,1350.0,1072.0,NaN,NaN,NaN,711.0,NaN,981.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Filter data from 2000 to 2018 in gdp_df
subset = (gdp_df['Year'] <= 2018) & (gdp_df['Year'] >= 2000)

# Pivot data in gdp_df to match info in homicide_df
gdp_pivoted = gdp_df[subset].pivot_table('GDP_Per_Capita', 
                                 index='Country', 
                                 columns='Year').dropna(0)

gdp_pivoted

Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,
Albania,5911.956097,6462.425658,6776.106767,7177.633793,7604.838002,8066.557445,8596.557019,9179.741136,9944.233283,10346.864199,10783.816180,11088.087801,11263.851342,11397.576226,11623.866679,11916.422315,12331.127754,12811.759436,13366.303065
Algeria,8710.455991,8855.019904,9232.427813,9771.685462,10058.435939,10504.857200,10527.423643,10717.785718,10796.901320,10782.361398,10970.705149,11078.240516,11233.534926,11319.097949,11512.705405,11696.963757,11826.164666,11737.409353,11642.194485
Angola,4727.967467,4766.836736,5240.839732,5218.207136,5593.241537,6210.222827,6681.102354,7341.864145,7864.375304,7643.493749,7692.434616,7675.445768,8036.690482,8140.527851,8239.828837,8036.410610,7568.997643,7310.901738,6933.505560
Antigua and Barbuda,18311.013715,17207.493563,17143.825835,17955.104941,18745.681534,19682.635896,21851.593927,23511.331656,23130.553123,20046.839017,18205.985369,17604.417102,17965.502327,17641.542533,18104.241470,18595.084904,19417.964819,19840.076123,21115.798269
Arab World,10940.274477,10893.213295,10731.004484,11051.575806,11742.589407,12117.689198,12559.771885,12827.453234,13261.601944,13063.094140,13347.112066,13531.438796,14032.961703,14155.876986,14219.562395,14441.436785,14663.549625,14555.474921,14622.065826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,2954.982868,3105.643520,3269.875335,3462.879975,3689.732423,3931.765415,4167.107894,4422.285218,4628.030244,4830.304958,5089.411248,5352.011422,5574.458880,5815.118920,6098.489609,6438.260271,6767.902495,7155.745829,7586.384939
West Bank and Gaza,4503.248860,3980.933319,3395.855001,3774.132413,4485.525458,4866.028474,4695.994727,4750.929692,4965.372950,5250.116075,5411.066482,5782.689593,5985.683247,6118.257181,5967.073437,6048.976597,6438.933640,6401.740891,6318.210068
World,11086.612825,11199.058187,11359.265445,11638.601657,12077.823821,12475.027505,12957.349105,13462.149842,13652.236548,13396.524163,13904.629132,14275.461871,14554.850133,14857.762340,15189.648507,15516.986524,15837.382961,16253.385518,16636.415941
Zambia,1990.858609,2042.538262,2080.196828,2168.332619,2261.766537,2362.901628,2483.208778,2619.721370,2747.438718,2917.516220,3125.529308,3201.289398,3339.276135,3399.712999,3450.046561,3443.555206,3467.875156,3485.005238,3521.520144
Zimbabwe,3473.429801,3510.893992,3190.506481,2642.103627,2480.859342,2328.176129,2233.017549,2133.808186,1739.242807,1925.364381,2273.200073,2556.278431,2932.081336,2937.725624,2955.240287,2958.209004,2934.733650,3028.245976,3130.029501

In [55]:
homicide_gdp_merge = gdp_pivoted.merge(homicide_df, how='inner')
homicide_gdp_merge

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False